doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/pingpong/stylesheets/style.css')
    script(src='/pingpong/javascripts/jquery-3.2.1.js')
    script(src='/pingpong/javascripts/d3.v4.min.js')
    script(src='/pingpong/javascripts/main.js')
  body
    block content
